html
{
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

*,
*:before,
*:after
{
  box-sizing: inherit;
}

body
{
  margin:0;
  background: #fafafa;
}

.swagger-ui .info .url {
  display: none !important;
}

.topbar-wrapper .link img {
  content: url('https://multiversx.com/logo-circle.png');
  width: 40px;
  height: 40px;
}

.topbar-wrapper .link span {
  display: none;
}

/* Remove 'MultiversX' text */
.topbar-wrapper .link:after {
  content: '';
  display: none;
}

/* Hide Search Bar and Explore Button */
.download-url-wrapper {
  display: none !important;
}

/* Position theme switcher (light icon) to the right */
.topbar-wrapper {
  justify-content: space-between;
}
